img {
    width: 100%;
}

header,footer,h2 {
    background-color: #ffe4e1;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

h1 {
    font-size: 22px;
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 15px;
}

#about ,#works,footer {
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-top: 100px;
    padding: 10px;
}

h3 {
    font-size: 18px;
}

li, p {
    font-size: 14px;
}

.adout-contents img {
    width: 280px;
    height: 280px;
    margin:0 auto;
    display: block;
}

.name {
    padding: 30px 20px;
    margin: 20px 10px;
}

.works-contents {
    border: 3px solid rgb(238, 204, 204);
    text-align: center;
    padding: 30px 20px 0 20px;
    margin: 10px 10px 0 10px;
    }

.works-contents img {
    width: 90%;
}

@media screen and (min-width: 768px) {
    .adout-contents {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adout-contents img {
        margin: 0px 20px;
    }
    .works-contents {
        padding: 40px 10px;
        margin: 30px 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
}