@charset "utf-8";

body {
    margin: 0;
}

img {
    width: 100%;
}

/* 見出し */
header, 
footer,
h2 {
    background-color: #ffe4e1;
}

#header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
/* My profile */
h1 {
    font-size: 22px;
    padding-left: 10px;
    margin: 0;
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 15px;
}

.about ,
.works ,
footer {
    text-align: center;
}

/* about・works 見出し */
h2 {
    font-size: 20px;
    padding: 10px;
}

/* 名前 */
h3 {
    font-size: 18px;
}

li, p {
    font-size: 14px;
    margin: 0;
}

/* about */
.adout-contents > img {
    margin:0 auto;
    display: block;
    width: 70%;
}

#name {
    padding: 30px 20px;
    margin: 20px 10px;
}

/* works */
.works-contents {
    padding: 0 4%;
}

.works-item {
    border: 3px solid rgb(238, 204, 204);
    text-align: center;
    padding: 30px 30px;
    margin: 15px 0 30px 0;
    }



/* PC用 */
@media screen and (min-width: 768px) {
    
    /* My profile */
    h1 {
        font-size: 30px;
        height: 50px;
        padding-left: 30px;
    }

    /* about・works 見出し */
    h2 {
        font-size: 25px;
    }

    /* 名前 */
    h3 {
        font-size: 20px;
    }

    #header-logo {
        padding: 20px;
    }

    .menu > ul {
        padding-right: 40px;
        font-size: 20px;
    }

    /* about */
    .adout-contents {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .adout-contents > img {
        padding: 0px 10px;
        margin: 0;
        width: 30%;
    }

    /* works */
    .works-contents {
        padding: 10px 10px;
        margin: 0 20px;
    }
    .works-item {
        margin: 0 auto;
        display: block;
        width: 70%;
        margin-bottom: 20px;
    }

    .works-contents > img {
        width: 100%;
    }
}